body{
    background-color: khaki;
}
.box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    
.box1:hover {
  background-color: purple;
}
}

.joinBtn {
  width: 10em;
  height: 5ex;
  background-color: gold;
  border: 2px solid firebrick;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.joinBtn:hover {
  background-color: bisque;
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
}

@keyframes box2move{

}
