body {
    background: url(overlay\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: 1600px 800px;
  }
  .overlay1 {
    position: relative;
    top: 0;
    left: 0;
    width: 800px;
  }
  
  .overlay2 {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100px;
  }
