body {
    background-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
    color: white;
  }
  table {
    align: center;
  }

  h1 {
    color: white;
    text-align: center;
    font-family: Georgia, serif;
  }
  h2 {
    color: white;
    font-family: Georgia, serif;
  }
  h3 {
    color: white;
    font-family: Georgia, serif;
  }
  h4 {
    color: white;
  }
  p {
    color: white;
  }
  ul {
    color: white;
  }