body{
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to left bottom , pink , lightblue);
}

.slider {
    appearance: none; /* removes browser-specific styling */
    width: 300px; /* width of slider */
    height: 25px; /* height of slider */
    background: pink ; /* orange background */
    outline: none; /* remove outline */
    border-radius: 50px; /* round corners */
}

.slider::-webkit-slider-thumb {
  appearance: none; /* removes browser-specific styling */
  width: 20px; /* handle width */
  height: 20px; /* handle height */
  border-radius: 50%; /* make it circular */
  background: #FFFFFF; /* white color */
  cursor: pointer; /* cursor on hover */
}
