body{
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to left bottom , pink , lightblue);
}

.container{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: 10px;
  text-align: center;
}

.heading{
  font-weight: 700;
  font-size: 30px;
}
.slider {
    appearance: none; /* removes browser-specific styling */
    width: 300px; /* width of slider */
    height: 25px; /* height of slider */
    background: purple ; /* orange background */
    outline: none; /* remove outline */
    border-radius: 50px; /* round corners */
    margin: 10px;

}

.slider::-webkit-slider-thumb {
  appearance: none; /* removes browser-specific styling */
  width: 20px; /* handle width */
  height: 20px; /* handle height */
  border-radius: 50%; /* make it circular */
  background: #FFFFFF; /* white color */
  cursor: pointer; /* cursor on hover */
}


.btn{
  padding: 10px;
  width:300px;
  margin-top: 10px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.4);
  color:green
}
